/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

#resume {
  color: white; 
}

.parallax-container {
  /* min-height: 380px; */
  min-height: 100vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.diablo-lake {
  max-width: 100%;
  max-height: 100%;
}

.inline {
  display: inline;
  margin-right: 50px;
}

.skills {
  display: inline;
  transform: scale(4);
  margin: 50px;  
}

.skills2 {
  display: inline-block; 
  max-width: 55px;
  max-height: 55px; 
  margin: 0 10px; 
  transform: translateY(22px);
  fill: white;
}

img.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  transform: translateY(20px);
  
}

#logo {
  margin-top: 15px; 
}


footer.page-footer {
  margin: 0;
}

